@page
@model EducacionVirtual.App.Presentacion.Pages.ActividadesModel
@{
}

<div class="container5">
    <h5 style="color: #fff;">Actividades</h5>
    <div>
        <P>Descripcion de la actividad</P>
    </div>
    <div>
        
    </div>
</div>