







.wrap{
  width: 100vw;
  height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, rgb(0 0 0 / .5),rgb(0 0 0 / .5)),url(/coffee.jpg);
  background-size: cover;
  background-position: center;
}

.wrap-texto{
  color: #fff;
  text-align: center; 
  width: 50%;
}