@page
@model EducacionVirtual.App.Presentacion.Pages.AsignaturasModel
@{
}


<section id="seccion_m">
    <section id="seccion">
        <article asp-page="/Index">
            <a class="materia" style="text-align: center; color: #fff; text-decoration: none;  "
                asp-page="/Estudiantes/HomeEstudiante">
                Matematicas básicas</a>

        </article>

        <article>
            <a class="materia" style="text-align: center; color: #fff; text-decoration: none;" asp-page="/Asignaturas/materia2">
                Dinámica</a>
        </article>

        <article>
            <a class="materia" style="text-align: center; color: #fff; text-decoration: none;" asp-page="/Asignaturas/materia3">
                Programacion II</a>
        </article>

        <article asp-page="/Index">
            <a class="materia" style="text-align: center; color: #fff; text-decoration: none;  " asp-page="/Asignaturas/materia4">
                Física mecanica</a>

        </article>

        <article>
            <a class="materia" style="text-align: center; color: #fff; text-decoration: none;" asp-page="/Asignaturas/materia5">
                Ingles</a>
        </article>

        <article>
            <a class="materia" style="text-align: center; color: #fff; text-decoration: none;" asp-page="/Asignaturas/materia6">
                Artes</a>
        </article>

        <section id="seccion3">
            <h3 style="border-bottom: 1px solid;">Matematicas básicas</h3>
            <br>
            <h5 style="color: #fff;">Sumas algebraicas</h5>
            <br>
            <p style="color: #fff;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque, nemo illum quia,
                alias asperiores consectetur necessitatibus esse ducimus adipisci tempore sint voluptas? Fugiat
                repudiandae ipsum nulla, non exercitationem libero odio?</p>
            <br>
            <h5 style="color: #fff;">Propiedades de la potenciación</h5>
        </section>

    </section>
    <section id="seccion2">
        <h4>Noticias</h4>
    </section>
</section>
