@page
@model EducacionVirtual.App.Presentacion.Pages.materia3Model
@{
}

<section >
    <h3 class="titulos">Programación II</h3>

    <section>
        <ul class="informacion">
            <li>
                <a href="#Tema1" id="btn1">Tema 1</a>
            </li>
            <li>
                <a href="#tema2" id="btn2">Tema 2</a>
            </li>
            <li>
                <a href="#tema3" id="btn3">Tema 3</a>
            </li>
            <li>
                <a href="#tema4" id="btn4">Tema 4</a>
            </li>
            <li>
                <a href="#tema5" id="btn5">Tema 5</a>
            </li>
        </ul>

    </section>


    <section id="tema1">
        <div class="container5">
            <h5>Sumas algebraicas</h5>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt magnam ipsum facere ipsa libero animi
                architecto ratione, cumque debitis rem, quod accusamus, sapiente adipisci nostrum provident eligendi
                pariatur dignissimos voluptates!
            </p>
            <br>
            <h6></h6>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique repellendus earum tempora velit vel in
                blanditiis et eveniet iste veniam perferendis nisi ab dolore, eaque architecto, fugit necessitatibus
                alias minus?</p>
            <br>
            <a href="#actividades">Actividades</a>

        </div>
    </section>

    <section id="tema2">
        <div class="container5">
            <h5>Fracciones parciales</h5>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt magnam ipsum facere ipsa libero animi
                architecto ratione, cumque debitis rem, quod accusamus, sapiente adipisci nostrum provident eligendi
                pariatur dignissimos voluptates!
            </p>
            <br>
            <h6></h6>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique repellendus earum tempora velit vel in
                blanditiis et eveniet iste veniam perferendis nisi ab dolore, eaque architecto, fugit necessitatibus
                alias minus?</p>
            <br>
            <a href="#actividades">Actividades</a>

        </div>
    </section>

    <section id="tema3">
        <div class="container5">
            <h5>Funciones trigonometricas</h5>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt magnam ipsum facere ipsa libero animi
                architecto
                ratione, cumque debitis rem, quod accusamus, sapiente adipisci nostrum provident eligendi pariatur
                dignissimos
                voluptates!
            </p>
            <br>
            <h6></h6>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique repellendus earum tempora velit vel in
                blanditiis et eveniet iste veniam perferendis nisi ab dolore, eaque architecto, fugit necessitatibus
                alias
                minus?</p>
            <br>
            <a href="#actividades">Actividades</a>

        </div>
    </section>
    <section id="tema4">
        <div class="container5">
            <h5>Factorizacion</h5>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt magnam ipsum facere ipsa libero animi
                architecto ratione, cumque debitis rem, quod accusamus, sapiente adipisci nostrum provident eligendi
                pariatur dignissimos voluptates!
            </p>
            <br>
            <h6></h6>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique repellendus earum tempora velit vel in
                blanditiis et eveniet iste veniam perferendis nisi ab dolore, eaque architecto, fugit necessitatibus
                alias minus?</p>
            <br>
            <a href="#actividades">Actividades</a>

        </div>
    </section>
    <section id="tema5">
        <div class="container5">
            <h5>Proyecto</h5>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt magnam ipsum facere ipsa libero animi
                architecto ratione, cumque debitis rem, quod accusamus, sapiente adipisci nostrum provident eligendi
                pariatur dignissimos voluptates!
            </p>
            <br>
            <h6></h6>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique repellendus earum tempora velit vel in
                blanditiis et eveniet iste veniam perferendis nisi ab dolore, eaque architecto, fugit necessitatibus
                alias minus?</p>
            <br>
            <a href="#actividades">Actividades</a>

        </div>
    </section>
</section>
