@page
@model EducacionVirtual.App.Presentacion.Pages.AyudaModel
@{
}


<div class="contenedor-max">

    <div>
        <br>
        <br>
        <h3>Preguntas frecuentes</h3>
        <br>
        <br>
        <h6 style="color: #fff;">¿Como eliminar mi cuenta?</h6>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, atque, exercitationem, temporibus quia ipsam iure quos maiores voluptatibus excepturi natus cumque. Impedit veniam alias necessitatibus fuga autem accusantium repellendus porro?</p>
        <br>
        <br>
        <h6 style="color:#fff ;">No encuentro mis materias</h6>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa cupiditate a dolore impedit veritatis, ducimus ullam libero maiores autem vitae nulla corporis necessitatibus, soluta illum ipsum assumenda esse ipsam? Corporis!</p>
        
    </div>

</div>